@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --darkColor: rgb(31, 34, 40);
  --orangeColor: rgb(242, 144, 59);
  --whiteColor: rgb(245, 240, 240);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: default;
}

body {
  background: linear-gradient(-180deg, var(--darkColor), rgb(10, 11, 15));
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#div-flex {
  padding-top: 18px;
}

.calculator,
.history {
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.6);

  color: var(--whiteColor);
  border: solid 2px var(--orangeColor);
  border-radius: 2px;
}

.calculator {
  width: 340px;
  margin: auto;

  display: grid;
  grid-template: 9vh repeat(6, 4.4vh) / repeat(4, 25%); /* rows / columns */
}

button {
  border-radius: 2px;

  font-family: "Gemunu Libre", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: 0.8px;

  background: linear-gradient(-180deg, var(--orangeColor), rgb(189, 112, 45));
  color: var(--darkColor);

  border: 1px solid var(--darkColor);

  cursor: pointer;
}
button:hover {
  filter: brightness(0.8);
}

/* ----- Affichage du resultat ----- */
#result {
  grid-area: 1 / 1 / 2 / 5; /* startRow / startColumn / endRow / endColumn */

  margin: 12px 10px 0 10px;
  text-align: right;
  font-size: 1.8rem;

  overflow-x: auto;
  overflow-y: hidden; /* Fix probleme(windows/googlechrome): barre scroll-Y toujours presente */
}

/* ----- Clear btn ----- */
#c {
  grid-area: 2 / 4 / 5 / 5; /* startRow / startColumn / endRow / endColumn */

  text-transform: capitalize;
}

/* ----- Equal btn ----- */
#equal {
  grid-area: 7 / 1 / 8 / 3; /* startRow / startColumn / endRow / endColumn */
}

/* ----- Parenthese btn ----- */
#doubleTouche {
  display: grid;
  grid-template: 1fr / 50% 50%; /* rows / columns */
}

/* -------- Affichage de l'historique --------- */
.history {
  overflow-x: auto;

  visibility: hidden; /* -> toggle JS */

  margin: 14px auto 0 auto;
  padding: 12px;

  min-height: 32vh;
  max-height: 55vh;

  min-width: 340px;
  max-width: 75vw;
}
.show {
  visibility: visible; /* -> toggle JS */
}
.spanHover:hover {
  cursor: pointer;
  color: var(--orangeColor);
}
hr {
  margin: 3px 0 6px 0;
  height: 1px;
  color: var(--orangeColor);
}

/* ------ Footer ------ */
h6 {
  color: var(--whiteColor);

  font-family: "Gemunu Libre", sans-serif;
  font-weight: 400;
  word-spacing: 1px;
  letter-spacing: 0.8px;
  text-align: center;

  width: 100vw;

  position: absolute;
  left: 50%; /* ? Difference entre '%' et 'vw' ? */
  bottom: 4px;
  transform: translateX(-50%);
}

/* ---------- RESPONSIVE --------- */
@media screen and (min-width: 1000px) {
  #div-flex {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row-reverse;
  }
  .calculator {
    margin: 50px 30px 0px 15px;
    width: 440px;
    grid-template: 70px repeat(6, 40px) / repeat(4, 25%); /* rows / columns */
  }
  button {
    font-size: 1.1rem;
  }
  #result {
    margin: 15px 12px 0 12px;
    font-size: 2.2rem;
  }
  .history {
    margin: 50px 15px 0px 30px;

    border: none; /* Debut : tour de magie */
    padding: 0;
    max-height: 0;
    min-height: 0;
    max-width: 0;
    min-width: 0;
  }
  .show {
    border: solid 2px var(--orangeColor);
    padding: 12px;
    min-height: 319px;
    max-height: 85vh;
    max-width: 75vw;
    min-width: 440px; /* Fin : tour de magie */
  }
}

@media screen and (max-width: 360px) {
  .calculator {
    grid-template: 8vh repeat(6, 4vh) / repeat(4, 25%); /* rows / columns */

    width: 260px;
  }
  button {
    font-size: 0.8rem;
  }
  #result {
    margin: 10px 8px 0 8px;
    font-size: 1.5rem;
  }
  .history {
    min-width: 260px;
  }
  h6 {
    font-size: 0.6rem;
  }
}
